<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="Shahayak"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.UberClone"
            tools:targetApi="31">
        <activity
                android:name=".CartRegularService"
                android:exported="false"/>
        <activity
                android:name=".HelperRegular"
                android:exported="false"/>
        <activity
                android:name=".HelperEmergency"
                android:exported="false"/>
        <activity
                android:name=".HelperProfile"
                android:exported="false"/>
        <activity
                android:name=".HelperLogin"
                android:exported="false"/>
        <activity
                android:name=".HelperDashBoard"
                android:exported="false"/>
        <activity
                android:name=".CartActivity"
                android:exported="false"/>
        <activity
                android:name=".ServiceDoneOrNot"
                android:exported="false"/>
        <activity
                android:name=".Deep"
                android:exported="false"/>
        <activity
                android:name=".Hourly"
                android:exported="false"/>
        <activity
                android:name=".Window"
                android:exported="false"/>
        <activity
                android:name=".Garden"
                android:exported="false"
                android:label="@string/title_activity_garden"
                android:theme="@style/Theme.UberClone"/>
        <activity
                android:name=".Furniture"
                android:exported="false"/>
        <activity
                android:name=".Bathroom"
                android:exported="false"/>
        <activity
                android:name=".Kitchen"
                android:exported="false"/>
        <activity
                android:name=".Cloth"
                android:exported="false"/>
        <activity
                android:name=".Fan"
                android:exported="false"/>
        <activity
                android:name=".Floor"
                android:exported="false"/>
        <activity
                android:name=".DriverDashboard"
                android:exported="false"/>
        <activity
                android:name=".CustomerDashBoard"
                android:exported="false"/>
        <activity
                android:name=".paymentDriver"
                android:exported="false"/>
        <activity
                android:name=".PaymentType"
                android:exported="false"/>
        <activity
                android:name=".RatingDriver"
                android:exported="false"/>
        <activity
                android:name=".Payment"
                android:exported="false"/>
        <activity
                android:name=".DriverProfile"
                android:exported="false"/>
        <activity
                android:name=".CustomerProfile"
                android:exported="false"/>
        <activity
                android:name=".CustomerEmergencyHelper"
                android:exported="false"/>
        <activity
                android:name=".CustomerHelperDashboard"
                android:exported="false"/>
        <activity
                android:name=".CustomerRegularHelper"
                android:exported="false"/>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyB1eFjW-f6MpUjhQPUTyhvJ-9K1Oo6qadE"/>

        <activity
                android:name=".CustomerMapActivity"
                android:exported="false"
                android:label="@string/title_activity_customer_map"/>
        <activity
                android:name=".DriverMapsActivity"
                android:exported="false"
                android:label="@string/title_activity_driver_maps"/>
        <activity
                android:name=".MapActivity"
                android:exported="false"/>
        <activity
                android:name=".CustomerLoginActivity"
                android:exported="false"/>
        <activity
                android:name=".DriverLoginActivity"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>